pandas
pillow
fastai==1.0.57
ipykernel
jupyter
pytest
bqplot
scikit-learn
pip
cython
papermill
black
ipywebrtc
lxml
pre-commit
pyyaml
requests
einops
scrapbook
torch
torchvision
ipykernel==5.3.4

fastapi
uvicorn[standard]
psycopg2
python-dotenv
